
<!-- <p>singlepage works!</p> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-mb-2 mt-5" >
          
              <img src="../../../assets/images/{{single[0].img}}" class="img7" alt=".." height="200" width="300" >
              <h1>{{single[0].images}}</h1>
   <h1>{{single[0].pagecontent}}</h1>
   <h1>{{single[0].desc}}</h1>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1>{{single[0].name}}</h1>
            <p>{{single[0].pagecontent}}<p>
            <!-- <h1><u>KATHAKALI</u></h1>
            <p>
                Kathakali is a traditional dance form originating in the southern Indian state of Kerala. It is a combination of dance, music, and drama and is known for its elaborate makeup, costumes, and facial expressions. The performances depict stories from Indian mythology, and the dancers use intricate hand gestures, facial expressions, and body movements to convey emotions and narrative. Kathakali also features percussion instruments, such as chenda and maddalam, which are played in a unique rhythm to add to the overall atmosphere. It is considered one of the most important cultural traditions in India and is known worldwide for its beauty and complexity.Kathakali is a classical dance form that originated in the southern Indian state of Kerala. It is a unique and ancient art form that is a combination of dance, music, and drama. Kathakali performances are known for their elaborate costumes, intricate makeup, and stylized movements that tell stories from Hindu mythology.

                The origins of Kathakali can be traced back to the 17th century when it emerged as a fusion of the earlier classical dance forms of Kerala, such as Krishnanattam, Koodiyattam, and Kalaripayattu. Over time, it developed its own distinct identity and evolved into the form that is known and loved today.
                
                One of the most striking features of Kathakali is its elaborate costumes and makeup. The performers wear brightly colored and intricately designed costumes that are made of silk and cotton. The costumes are heavily adorned with jewelry and are designed to make the performer look larger than life. The makeup used in Kathakali is also an integral part of the performance. The performers use a paste made from rice flour, which is mixed with natural dyes to create vibrant colors. The makeup is applied in a very detailed and intricate manner to bring out the various characters' expressions and emotions.
                
                Another essential element of Kathakali is the use of hand gestures and facial expressions. The performers use their hands to tell the story and convey different emotions and moods. The
                
                
                
                
                  
            </p> -->
            
               <!-- <a class="nav-link" routerLink="back">  -->
                 <!-- <button type="button" class="btn btn-warning btn-lg ms-2">Back</button></a>  -->
                 
        </div>
       
        <div class="col">
            <img src="../../../assets/images/{{single[0].img}}" alt=""width="" height="">
        </div>
    </div>
   </div> 